[
    {
        "url": "https://space.bilibili.com/1376650682/channel/seriesdetail?sid=150014",
        "extractor": "biliseries",
        "last_url": "https://www.bilibili.com/video/BV1BS4y1x7zM",
        "filter": "karaoke"
    },
    {
        "url": "example2",
        "extractor": null,
        "last_url": true,
        "filter": null
    }
]